/*
    CSS styles for the whole website
    The file is included in the genericpage.tag template
 */

#topmenu_login_dialogue
{
    font-size: smaller;
}


bookingheader1{
    font-family: Dubai, serif;
    font-size: 70px;
    color: #003d76;
    margin-left: auto;
    margin-right: auto;
}

bookingtext1{
    font-family: Inder, serif;
    font-size: 30px;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
}

btn-text{
    font-family: Dubai, serif;
    font-size: 25px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.adminbutton {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 64px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}